.menu {
    z-index: 2;
   position: relative;    
   margin-left: 1em;
 }

 :root {
  --arrow-bg: rgba(64, 92, 245, 0.7);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: #405cf5;
  --select-bg: rgb(64, 92, 245);
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 1.8em;
}

button:disabled {
  cursor: default;
}
.howToUseBtn{
  position: absolute;
  top: 0;
  right: 12px; /* Adjust the margin as per your requirement */
  margin-top: 12px; /* Add margin from the top */
}
button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
select {
  /* Reset */
  appearance: none;
  border: 0;
  
  outline: 0;
  font: inherit;
  /* Personalize */
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  height: 1.8em;
  width: 10rem;
  line-height: 1.15;
  padding: 0 25px;
  margin: 12px 0 0;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: #405cf5;
  }
}

select option {
  margin: 40px;
  background: var(--select-bg);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.backgroundMenu{
  background-color: #f2f2f2;
  border-end-start-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

